/* Helper classes */

.noMargin {
	margin:0px !important;
}

.bgColor {
	background-color:rgb(67, 74, 199) !important;
}

.testColor {
	color:rgb(67, 74, 199) !important;
}


/* ************** */ 

.loginIcon {
	padding-top:5px;
	color:rgb(67, 74, 199);
	font-size:45px;
}

.loginBackground {
	min-height: 100%;
	min-width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../assets/img/loginBG.jpg) no-repeat center center fixed;
	background-size: cover;
	opacity:1;

}

.loginDiv {
	margin-top:20px;
	padding-top:10px;
	background-color: rgba(245,245,245,0.85);
}

.bigButton {
	height:50px;
	width:200px;
	font-size:18px;
	margin-top:15px;
}




/* Media querys */

@media (max-width: 450px) {
	.loginIcon {
		font-size: 35px !important;
		padding-top:10px;
	}	
}