<div class="row">
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">¡Bienvenido de nuevo!</span>
				<span class="md-subhead">Llevas realizados 7 tests a lo largo de la semana</span>
				<span class="md-subhead">No pierdas el tiempo, ¡sigue así!</span>
			</md-card-title-text>
		</md-card-title>
	</md-card>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="md-raised md-warn bigButton textColor" ng-click="doTest(1)">Realizar Test</md-button>
	</section>

</div>
