<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">User info</h3>
			</div>
			<div class="panel-body">
				<form>
					<md-input-container class="md-block">
						<label>First name</label>
						<input ng-model="user.firstName">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Second name</label>
						<input ng-model="user.secondName">
					</md-input-container>
				</form>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Account settings</h3>
			</div>
			<div class="panel-body">
				<form>
					<md-input-container class="md-block">
						<label>User name</label>
						<input ng-model="user.userName">
					</md-input-container>
					<md-input-container class="md-block">
						<label>Password</label>
						<input type="password" ng-model="user.password">
					</md-input-container>
				</form>
			</div>
		</div>

	</div>
</div>